@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}
html {
    scroll-behavior: smooth;
  }

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 8px 20px;
    color: #fff;
    background: #615998;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.normal:hover{
    color: #fff;
    background: #6D6899;
}

button.white{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    color: #fff;
    bottom: 20px;
    right: 10px;
    border: none;
    background: #615998;
}


body{
    width: 100%;
}

#header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #F7F7F7;
    box-shadow: 0 5px 10px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #615998;
}


#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #615998;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li::before{
    content: "";
    background-color: #615998;
    position: absolute;
    left: 20px;
    bottom: -4px;
    height: 2px;
    width: 0;
    transition: 0.3s ease-in-out;
}

#navbar li:hover::before{
    content: "";
    background-color: #615998;
    position: absolute;
    left: 20px;
    bottom: -4px;
    height: 2px;
    width: 30%;
}


.dropdown .dropdown-menu li{
    width: 100%;
    margin: 0;
}

.dropdown .dropdown-menu li a{
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
}


.logo-1 img {
    width: 60px;
    margin-right: 0.3rem;
  }

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

#hero{
    background-image: url(./img/hr1.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 35%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    color: #1a1a1a;
    padding-bottom: 15px;
}
#hero h2{
    color: #000;
}

#hero h1{
    color: #fff;
}

#hero p{
    color: #615998;
}
.bt{
    background: #1a1a1a;
    border: 2px solid white;
    border-radius: 50px;
    color: #fff;
    padding: 14px 40px 14px 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    overflow: hidden;
}

.bt:hover{
    background: #fff;
    color: #1a1a1a;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #615998;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #615998;
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #fddde4;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}


#product1{
    text-align: center;
}


.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #615998;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.pro:hover{
    box-shadow: 20px 20px 30px rgba(86, 84, 84, 0.06);
}

.pro img{
    width: 100%;
    border-radius: 20px;
}

.pro .des{
    text-align: start;
    padding: 10px 0;
}

.pro .des span{
    color: #606063;
    font-size: 12px;
}

.pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1a;
}

.pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    color: #615998;
    position: absolute;
    bottom: 20px;
    right: 10px;
    border: 1px solid #615998;
    background: #dfeee1;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/2.webp");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #ffff;
    font-size: 16px;
}

#banner h2{
    color: #ffff;
    font-size: 16px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}



#newsletter button{
    background-color: #615998;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: #151515;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
    color: #151515;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #151111;
    padding-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #151111;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row-1 img{
    border: 1px solid #151111;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #615998;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* Shop page */

#page-header{
    background-image: url("img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #fff;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
    color: #1a1a1a;
    font-weight: 600;
}

#pagination a:hover{
    background: #025951;
    color: #fff;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* singal product */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .singal-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .singal-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .singal-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .singal-pro-details h2{
    font-size: 26px;
}

#prodetails .singal-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .singal-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .singal-pro-details:focus{
    outline: none;
}

#prodetails .singal-pro-details button:hover{
    background: #615998;
    color: #fff;
}

#prodetails .singal-pro-details button{
    background: #1a1a1a;
    color: #fff;
}

#prodetails .singal-pro-details span{
    line-height: 25px;
}

/* pro2 */

#prodetails2{
    display: flex;
    margin-top: 20px;
}

#prodetails2 .singal-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails2 .singal-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails2 .singal-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails2 .singal-pro-details h2{
    font-size: 26px;
}

#prodetails2 .singal-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails2 .singal-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails2 .singal-pro-details:focus{
    outline: none;
}

#prodetails2 .singal-pro-details button{
    background: #1a1a1a;
    color: #fff;
}

#prodetails2 .singal-pro-details button:hover{
    background: #615998;
    color: #fff;
}



#prodetails2 .singal-pro-details span{
    line-height: 25px;
}

/* pro3 */

#prodetails3{
    display: flex;
    margin-top: 20px;
}

#prodetails3 .singal-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails3 .singal-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails3 .singal-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails3 .singal-pro-details h2{
    font-size: 26px;
}

#prodetails3 .singal-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails3 .singal-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails3 .singal-pro-details:focus{
    outline: none;
}

#prodetails3 .singal-pro-details button{
    background: #1a1a1a;
    color: #fff;
}

#prodetails3 .singal-pro-details button:hover{
    background: #615998;
    color: #fff;
}

#prodetails3 .singal-pro-details span{
    line-height: 25px;
}

/* pro4 */

#prodetails4{
    display: flex;
    margin-top: 20px;
}

#prodetails4 .singal-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails4 .singal-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails4 .singal-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails4 .singal-pro-details h2{
    font-size: 26px;
}

#prodetails4 .singal-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails4 .singal-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails4 .singal-pro-details:focus{
    outline: none;
}

#prodetails4 .singal-pro-details button{
    background: #1a1a1a;
    color: #fff;
}

#prodetails4 .singal-pro-details button:hover{
    background: #615998;
    color: #fff;
}

#prodetails4 .singal-pro-details span{
    line-height: 25px;
}

/* pro5 */


#prodetails5{
    display: flex;
    margin-top: 20px;
}

#prodetails5 .singal-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails5 .singal-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails5 .singal-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails5 .singal-pro-details h2{
    font-size: 26px;
}

#prodetails5 .singal-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails5 .singal-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails5 .singal-pro-details:focus{
    outline: none;
}

#prodetails5 .singal-pro-details button{
    background: #1a1a1a;
    color: #fff;

}

#prodetails5 .singal-pro-details button:hover{
    background: #615998;
    color: #fff;
}

#prodetails5 .singal-pro-details span{
    line-height: 25px;
}

/* pro6 */

#prodetails6{
    display: flex;
    margin-top: 20px;
}

#prodetails6 .singal-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails6 .singal-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails6 .singal-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails6 .singal-pro-details h2{
    font-size: 26px;
}

#prodetails6 .singal-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails6 .singal-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails6 .singal-pro-details:focus{
    outline: none;
}

#prodetails6 .singal-pro-details button{
    background: #1a1a1a;
    color: #fff;
}

#prodetails6 .singal-pro-details button:hover{
    background: #615998;
    color: #fff;
}

#prodetails6 .singal-pro-details span{
    line-height: 25px;
}

/* pro7 */

#prodetails7{
    display: flex;
    margin-top: 20px;
}

#prodetails7 .singal-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails7 .singal-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails7 .singal-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails7 .singal-pro-details h2{
    font-size: 26px;
}

#prodetails7 .singal-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails7 .singal-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails7 .singal-pro-details:focus{
    outline: none;
}

#prodetails7 .singal-pro-details button{
    background: #1a1a1a;
    color: #fff;
}

#prodetails7 .singal-pro-details button:hover{
    background: #615998;
    color: #fff;
}

#prodetails7 .singal-pro-details span{
    line-height: 25px;
}

/* pro8 */

#prodetails8{
    display: flex;
    margin-top: 20px;
}

#prodetails8 .singal-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails8 .singal-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails8 .singal-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails8 .singal-pro-details h2{
    font-size: 26px;
}

#prodetails8 .singal-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails8 .singal-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails8 .singal-pro-details:focus{
    outline: none;
}

#prodetails8 .singal-pro-details button{
    background: #1a1a1a;
    color: #fff;
}

#prodetails8 .singal-pro-details button:hover{
    background: #615998;
    color: #fff;
}
#prodetails8 .singal-pro-details span{
    line-height: 25px;
}



/* About page */
#page-header.about-header{
    background-image: url("img/about/banner.png");
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;

}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto ;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

/* Contact page */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #615998;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-left: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}




 





/* Media pad */

@media (max-width:799px){
    .section-p1 {
        padding: 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -400px;
        height: 100vh;
        width: 300px;
        background: #F7F7F7;
        box-shadow: 0 40px 60px rgba(0,0,0,0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s ;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }
    #newsletter .form {
        width: 70%;
    }

    /* Contact page */

    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }
    
    /* account page */

    .box {
        height: auto;
        max-width: 550px;
        overflow: hidden;
      }
    
      .inner-box {
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
      }
    
      .forms-wrap {
        position: revert;
        width: 100%;
        height: auto;
      }
    
      form {
        max-width: revert;
        padding: 1.5rem 2.5rem 2rem;
        transition: transform 0.8s ease-in-out, opacity 0.45s linear;
      }
    
      .heading {
        margin: 2rem 0;
      }
    
      form.sign-up-form {
        transform: translateX(100%);
      }
    
      main.sign-up-mode form.sign-in-form {
        transform: translateX(-100%);
      }
    
      main.sign-up-mode form.sign-up-form {
        transform: translateX(0%);
      }
    
      .carousel {
        position: revert;
        height: auto;
        width: 100%;
        padding: 3rem 2rem;
        display: flex;
      }
    
      .images-wrapper {
        display: none;
      }
    
      .text-slider {
        width: 100%;
      }


}


/* cart */

#cart{
    overflow: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #d1cbee;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #d1cbee;
}

#coupon .normal,
#subtotal .normal{
    background: #615998;
    color: #fff;
    padding: 12px 20px;
}

#coupon .normal:hover,
#subtotal .normal:hover{
    color: #fff;
    background: #615998;
}


#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #d1cbee;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid#d1cbee;
    padding: 10px;
    font-size: 13px;
}






/* Media mobile */

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
    }
    
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    footer .copyright {
        text-align: start;
    }

    /* singal Product */
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .singal-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .singal-pro-details {
        width: 100%;
    }

    #prodetails2 {
        display: flex;
        flex-direction: column;
    }
    
    #prodetails2 .singal-pro-details {
        width: 100%;
    }

    #prodetails2 .singal-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    
    #prodetails3 {
        display: flex;
        flex-direction: column;
    }
    
    #prodetails3 .singal-pro-details {
        width: 100%;
    }

    #prodetails3 .singal-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails4 {
        display: flex;
        flex-direction: column;
    }
    
    #prodetails4 .singal-pro-details {
        width: 100%;
    }

    #prodetails4 .singal-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails5 {
        display: flex;
        flex-direction: column;
    }
    
    #prodetails5 .singal-pro-details {
        width: 100%;
    }

    #prodetails5 .singal-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails6 {
        display: flex;
        flex-direction: column;
    }
    
    #prodetails6 .singal-pro-details {
        width: 100%;
    }

    #prodetails6 .singal-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails7 {
        display: flex;
        flex-direction: column;
    }
    
    #prodetails7 .singal-pro-details {
        width: 100%;
    }

    #prodetails7 .singal-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails8 {
        display: flex;
        flex-direction: column;
    }
    
    #prodetails8 .singal-pro-details {
        width: 100%;
    }

    #prodetails8 .singal-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    /* Blog page */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* About page */

    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }

    /* Contact page */

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    /* cart page */

    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }
    
    #subtotal {
        width: 100%;
        padding: 20px;
    }

    /* account page */

    main {
        padding: 1rem;
      }
    
      .box {
        border-radius: 2rem;
      }
    
      .inner-box {
        padding: 1rem;
      }
    
      .carousel {
        padding: 1.5rem 1rem;
        border-radius: 1.6rem;
      }
    
      .text-wrap {
        margin-bottom: 1rem;
      }
    
      .text-group h2 {
        font-size: 1.2rem;
      }
    
      form {
        padding: 1rem 2rem 1.5rem;
      }

}


.profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.profile .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.info a
{
    text-decoration: none;
    color: #000;
}
.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}



